.add-trial {
    display: flex;
    width: 100%;
    max-height: 100vh;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}

.add-trial-fields {
    display: flex;
    flex-direction: column;
}
