.objective-card-root {
    background-color: rgb(0, 0, 0, 0.64);
    border: 1px solid #2A2A2A;
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 355px;
    height: 136px;
    position: relative;
    box-sizing: content-box;
    cursor: pointer;
}

.objective-card-active {
    background-color: rgb(0, 71, 57, 0.5);
    border: 2px solid #00E0B3;
}

.objective-card-icon > * {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    height: 200px;
    width: 200px;
}

.objective-card-name {
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
    color: #00E0B3;
    margin: 0;
}

.objective-card-description {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin: 8px 0;
}